@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;

}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    padding: 15px;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    padding: 15px;
}

img,
svg {
    margin: 25px;

}

body {
    margin: 0;
    padding: 0;
    background-color: aqua;
}



.card__first {
    background-color: hsl(31, 77%, 52%);
    color: hsla(0, 0%, 100%, 0.75);
    padding: 15px;
    margin: 15px;
    text-transform: uppercase;
    border-radius: 10px;

}

.card__first .btn {
    background-color: hsl(0, 0%, 95%);
    border-radius: 3rem;
    color: hsl(31, 77%, 52%);
    padding: 0.75rem 2rem;
    font-weight: 700;
    text-align: center;
    font-size: 0.75rem;
    outline: none;
    min-width: 8rem;
    display: inline-block;
    border: 10px solid hsl(31, 77%, 52%);
    cursor: pointer;
}

.card__second {
    background-color: hsl(184, 100%, 22%);
    height: auto;
    font-size: 15px;
    padding: 15px;
    margin: 15px;
    text-transform: uppercase;
    border-radius: 10px;
}

.card__second .btn {
    background-color: hsl(0, 0%, 95%);
    border-radius: 3rem;
    color: hsl(184, 100%, 22%);
    padding: 0.75rem 2rem;
    font-weight: 700;
    text-align: center;
    font-size: 0.75rem;
    outline: none;
    min-width: 8rem;
    display: inline-block;
    border: 10px solid hsl(184, 100%, 22%);
    cursor: pointer;
}

.card__three {
    background-color: hsl(179, 100%, 13%);
    height: auto;
    font-size: 15px;
    padding: 15px;
    margin: 15px;
    text-transform: uppercase;
    border-radius: 10px;
}

.card__three .btn {
    background-color: hsl(0, 0%, 95%);
    border-radius: 3rem;
    color: hsl(179, 100%, 13%);
    padding: 0.75rem 2rem;
    font-weight: 700;
    text-align: center;
    font-size: 0.75rem;
    outline: none;
    min-width: 8rem;
    display: inline-block;
    border: 10px solid hsl(179, 100%, 13%);
    cursor: pointer;
}

@media screen and (min-width:480px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        margin-top: 300px;


    }
}



.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}